body {
  font-family: Arial, sans-serif;
  margin: 20px;}

h1 {
  text-align: center;
  margin-bottom: 30px;}

.profile {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 40px;
}

.profile-info {max-width: 600px;}

.container div {
    background-color: #f1f1f1;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}